*.jar

config.py

# macOS files
.DS_Store

# Python cache files
__pycache__/
*.pyc

# Jupyter checkpoint files
.ipynb_checkpoints/

# Maven target directory
target/

# Makefile
Makefile

# Jupyter notebook copy
cta_reporting-Copy1.ipynb

# File with names and order of cta train stops
CtaTrainLines.java

# IntelliJ IDEA / Eclipse specific files (if using)
.idea/
.project
.classpath
.settings/